.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 420px;
  height: 100%;
  top: 0;
  right: 0;
  background: #f6eaff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 25px;
  overflow-y: hidden;

  @media(max-width: 600px) {
    width: 100%;
    height: 100%;
  }

  &:hover {
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: #f3f3f3;
  }

  &::-webkit-scrollbar-thumb {
    background: #FFC700;
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cartItem {
    position: relative;
    margin-top: 20px;
    align-items: center;
    border-radius: 20px;
    padding: 15px;
    background-color: #fff;

    &__product {
      display: flex;
      align-items: center;

      .remove {
        display: flex;
        justify-content: center;
        position: absolute;
        left: -10px;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        border: none;
        background-color: #ffffff;
        cursor: pointer;

        &:hover {
          background-color: firebrick;
        }
      }

      .description {
        width: 100%;
        margin-left: 10px;

        p {
          font-size: 14px;
          font-weight: 500;
        }

        span {
          font-size: 14px;
          color: gray;
        }
      }

      .bot {
        padding-top: 5px;
        display: flex;
        justify-content: space-between;

        p {
          font-size: 16px;
          font-weight: 600;
        }

        ul {
          display: flex;
          align-items: center;

          li {
            padding: 0 5px;

            button {
              display: flex;
              justify-content: center;
              width: 30px;
              height: 30px;
              background-color: white;
              border: none;
              border-radius: 50%;
              font-size: 20px;
              cursor: pointer;

              &:hover {
                background-color: #FFC700;
              }
            }
          }
        }
      }
    }
  }

  .footerBlock {
    margin-top: auto;
    padding-top: 30px;

    .total {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__sum {
        h4 {
          font-weight: 400;
          padding-bottom: 5px;
        }

        p {
          font-size: 16px;
          font-weight: 700;
          position: relative;

          span {
            position: absolute;
            top: -3px;
            margin-left: 3px;
            font-size: 14px;
            font-weight: 400;
          }
        }
      }

      button {
        background: #fff;
        padding: 15px 40px;
        border-radius: 20px;
        font-weight: 600;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: #FFC700;
        }
      }
    }
  }
}




