.header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #f6f6f6;
  padding: 40px 0;

  &__logo {
    display: flex;

    img {
      margin-left: 50px;
    }

    div {
      margin: 11px;

      h1 {
        text-transform: uppercase;
        font-weight: 500;
      }
      p {
        color: #7b7b7b;
        padding-left: 10px;
      }
    }
  }

  &__input {
    border: 1px solid lavender;
    border-radius: 10px;
    padding: 0 10px 0 15px;
    position: relative;
    display: flex;
    align-items: center;


    .clearBtn {
      position: absolute;
      top: 12px;
      right: 10px;
    }

    input {
      border: none;
      padding: 12px;
      font-size: 15px;
      width: 300px;
      max-width: 80%;
    }
  }

  &__call {
    position: relative;
    margin-right: 40px;
    display: flex;
    cursor: pointer;

    span {
      padding-left: 10px;
      font-size: 15px;
      font-weight: 500;
    }

    .popup {
      position: absolute;
      top: 37px;
      right: 0;
      background: #ffffff;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
      border-radius: 10px;
      overflow: hidden;
      padding: 10px 0;
      width: 250px;
      z-index: 1;
      cursor: auto;

      ul {
        overflow: hidden;

        li {
          display: flex;
          padding: 10px 20px;

          img {
            width: 18px;
          }

          span {
            font-weight: 600;
            font-size: 14px;
          }
        }
      }
    }
  }

  &__cart {
    margin-right: 100px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: yellow;
    position: relative;
    cursor: pointer;
  }
}