.header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #f6f6f6;
  padding: 30px;

  @media(max-width: 1180px) {
    .header__input {
      display: none;
    }
  }

  @media(max-width: 850px) {
    .call {
      span {
        display: none;
      }
    }
  }

  @media(max-width: 650px) {
    .header__logo {
      img {
        display: none;
      }
    }
  }

  @media(max-width: 400px) {
    padding: 30px 15px;
  }

  &__logo {
    display: flex;

    div {
      margin: 11px;

      @media(max-width: 650px) {
        margin: 0;
      }

      h1 {
        text-transform: uppercase;
        font-weight: 500;
        @media(max-width: 450px) {
          font-size: 20px;
        }
      }
      p {
        color: #7b7b7b;
      }
    }
  }

  &__input {
    border: 1px solid lavender;
    border-radius: 10px;
    padding: 0 10px 0 15px;
    position: relative;
    display: flex;
    align-items: center;


    .clearBtn {
      position: absolute;
      top: 12px;
      right: 10px;
    }

    input {
      border: none;
      padding: 12px;
      font-size: 15px;
      width: 300px;
      max-width: 80%;
    }
  }

  &__right {
    display: flex;
    align-items: center;

    .call {
      position: relative;
      margin-right: 40px;
      display: flex;
      cursor: pointer;

      @media(max-width: 520px) {
          display: none;
      }

      span {
        padding-left: 10px;
        font-size: 15px;
        font-weight: 500;
      }

      .popup {
        position: absolute;
        transform: translate3d(0, 37px, 0);
        right: 0;
        background: #ffffff;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
        border-radius: 10px;
        overflow: hidden;
        padding: 10px 0;
        width: 250px;
        z-index: 1;
        cursor: auto;

        ul {
          overflow: hidden;

          li {
            display: flex;
            padding: 10px 20px;

            img {
              width: 18px;
            }

            span {
              font-weight: 600;
              font-size: 14px;
            }
          }
        }
      }
    }

    .cart {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: yellow;
      position: relative;
      cursor: pointer;
    }
  }
}