.sort {
  width: 250px;
  position: relative;

  &__label {
    display: flex;
    align-items: center;

    b {
      margin-right: 15px;
    }

    span {
      color: orangered;
      border-bottom: 1px dashed orangered;
      cursor: pointer;
      user-select: none;
    }
  }

  &__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 160px;
    z-index: 1;

    ul {
      overflow: hidden;
      li {
        padding: 13px 20px;
        cursor: pointer;
        user-select: none;

        &:hover {
          background-color: darken(#f9f9f9, 2%);
        }

        &:active {
          background-color: darken(#f9f9f9, 5%);
          color: orangered;
        }
      }
    }
  }
}