@import "components/all";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  font-family: 'Proxima Nova', Roboto, system-ui, Tahoma, sans-serif;
}

body {
  background-color: lightgray;
}

.wrapper {
  width: calc(100% - 100px);
  max-width: 1400px;
  height: 100%;
  margin: 40px auto;
  background-color: #ffffff;
  border-radius: 15px;

  @media(max-width: 650px) {
    width: calc(100% - 30px);
    margin-top: 15px;
    margin-bottom: 15px;
  }
  @media(max-width: 400px) {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
}

.content {
  padding: 20px 0;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width: 1180px) {
      flex-direction: column-reverse;
      .categories {
        margin-top: 15px;
      }
    }
  }

  &__title {
    margin: 30px 0;
  }

  &__items {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fill,minmax(314px,1fr));
  }
}
.container {
  width: 90%;
  margin: 0 auto;
}

  .container-cart {
    display: flex;
    justify-content: space-between;
    position: relative;

    @media(max-width: 860px) {
      flex-direction: column;

      .order {
        margin: 15px 0;
      }
    }

    .title {
      @media (max-width: 626px) {
        font-size: 20px;
      }
    }


    .checkout {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      background-color: #f3f3f3;
      border-radius: 20px;
      margin-right: 10px;


      &__contacts {
        padding: 30px;
        border-bottom: 2px solid #fff;
      }

      .item {
        margin-top: 30px;
        position: relative;


        span {
          display: block;
          margin-bottom: 8px;
        }

        input {
          width: 90%;
          padding: 15px;
          border-radius: 15px;
          border: none;
          outline: 0;
        }

        .error {
          position: absolute;
          bottom: -22px;
          left: 0;
          color: red;
          font-size: 12px;
        }
      }

      .checkbox {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;


        label {
            input {
              display: none;
            }

            span {
              display: inline-block;
              position: relative;
              padding-left: 27px;
              line-height: 22px;
              user-select: none;

                @media (max-width: 626px) {
                  font-size: 14px;
                }

              a {
                margin-left: 5px;
                color: orangered;
              }
            }

            span:before {
              content: '';
              display: inline-block;
              height: 16px;
              width: 16px;
              outline: 1px solid black;
              position: absolute;
              border-radius: 3px;
              top: 4px;
              left: 0;
            }

            input[type=checkbox]:checked + span:before {
              outline: 1px solid #FFC700;
              border: 2px solid #fff;
              width: 13px;
              height: 13px;
              background-color: #FFC700;
            }
          }
      }

      &__receive {
        padding: 30px;
        margin-bottom: 15px;

        select {
          margin-top: 20px;
          padding: 7px 10px;
          max-width: 100px;
          width: 100%;
          border-radius: 5px;
          border: none;
        }
      }
    }

    .order {
      display: flex;
      flex-direction: column;
      position: sticky;
      top: 40px;
      right: 0;
      background-color: #f3f3f3;
      border-radius: 20px;
      width: 100%;
      height: 100%;

      h2 {
        border-bottom: 2px solid #fff;
        padding: 25px;
      }

      &__pizza {
        padding: 0 30px;

        .pizzaBlock {
          ul {
            display: flex;
            flex-direction: column;
            border-bottom: 2px solid #fff;
            padding-bottom: 15px;

            li {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding-top: 10px;

              h4 {
                font-size: 18px;
                font-weight: 500;
                width: 70%;

                @media(max-width: 626px) {
                  font-size: 15px;
                  font-weight: 500;
                }
              }

              span {
                font-size: 17px;
                font-weight: 600;

                @media(max-width: 626px) {
                  font-size: 16px;
                  font-weight: 500;
                }
              }

              .size {
                font-size: 15px;
                font-weight: 500;
                opacity: 0.5;
              }
            }
          }
        }

        .price {
          font-weight: 600;
          font-size: 17px;

          @media(max-width: 626px) {
            font-size: 16px;
            font-weight: 500;
          }
        }

        .totalSum {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px 0;

          h3 {
            font-size: 18px;
            font-weight: 700;

            @media(max-width: 626px) {
              font-size: 15px;
              font-weight: 500;
            }
          }
        }

        .disabled {
          margin: 20px 0;
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #fff;
          border-radius: 10px;
          opacity: 0;
          transform: translateY(-100%);
          animation-duration: 0.5s;
          animation-timing-function: ease-out;
          animation-fill-mode: forwards;
        }

        .disabled.show {
          animation-name: appear;
        }

        .disabled.hide {
          animation-name: disappear;
        }

        @keyframes appear {
          0% {
            opacity: 0;
            transform: translateY(-100%);
          }
          100% {
            opacity: 1;
            transform: translateY(0);
          }
        }

        @keyframes disappear {
          0% {
            opacity: 1;
            transform: translateY(0);
          }
          100% {
            opacity: 0;
            transform: translateY(-100%);
          }
        }

        .ordered {
          display: flex;
          justify-content: center;

          input {
            width: 80%;
            background: #FFC700;
            padding: 15px;
            border-radius: 20px;
            font-weight: 600;
            border: none;
            cursor: pointer;
            transition: background-color 0.1s ease-in-out;

            &:hover {
              background-color: #ffa41e;
            }
          }
        }

        .back {
          margin: 30px 0;
          display: flex;
          justify-content: center;

          a {
            text-decoration: none;

            span {
              font-size: 18px;
              color: orangered;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

























